<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aldrinmcadelia.myapplication" >

    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StagePage"
            android:label="@string/title_activity_stage_page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Stageone"
            android:label="@string/title_activity_stageone"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageTwo"
            android:label="@string/title_activity_stage_two"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageThree"
            android:label="@string/title_activity_stage_three"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageFour"
            android:label="@string/title_activity_stage_four"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageFive"
            android:label="@string/title_activity_stage_five"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageSix"
            android:label="@string/title_activity_stage_six"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageSeven"
            android:label="@string/title_activity_stage_seven"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageEight"
            android:label="@string/title_activity_stage_eight"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageNine"
            android:label="@string/title_activity_stage_nine"
            android:parentActivityName=".StagePage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".Pop_upActivity"
            android:label="@string/title_activity_pop_up" >
        </activity>
        <activity
            android:name=".FinishActivity"
            android:label="@string/title_activity_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameOver"
            android:label="@string/title_activity_game_over"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BestTime"
            android:label="@string/title_activity_best_time"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".LoadingScreen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_loading_screen" >
        </activity>
        <activity
            android:name=".Intro"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_intro" >
        </activity>
    </application>

</manifest>
