<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aldrinmcadelia.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StagePage"
            android:label="@string/title_activity_stage_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Stageone"
            android:label="@string/title_activity_stageone"
            android:parentActivityName=".StagePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
        <activity
            android:name=".StageTwo"
            android:label="@string/title_activity_stage_two"
            android:parentActivityName=".StagePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aldrinmcadelia.myapplication.StagePage" />
        </activity>
    </application>

</manifest>
